In [11]:
import scipy as sp 
import statsmodels.api as sm
import statsmodels.stats

In [14]:
print(16,9,sep=':')

16:9

In [15]:
print('Hello', '\n', 'Python', sep='')

Hello
Python

In [16]:
print('Hello', 'Python', sep='\n')

Hello
Python

In [17]:
print('Hello', 'Python', end='\n')

Hello Python

In [18]:
print('Hello\nPython')

Hello
Python

In [19]:
print('Hello', 'Python')

Hello Python

In [21]:
year = 1
month = 2
day = 3
print(year, month, day, sep ='-',end='T')
print('g')

1-2-3Tg

In [22]:
8 is 4 * 2.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-22-ee7808e3be3c>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  8 is 4 * 2.0

False

In [23]:
5 is 6 - 1.1

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-23-200ef8fe86a8>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  5 is 6 - 1.1

False

In [25]:
a = 10 ; b = 20

In [26]:
not a == 10

False

In [27]:
a >= 10 and b < 30

True

In [29]:
b != 20 or a != 10

False

In [34]:
not b != 20 and a < 5

False

In [36]:
KOR, ENG, MAT, SCI = map(int, input().split())
cond = (KOR >= 90)and(ENG > 80)and(MAT >85)and(SCI>=80)
print(cond)

90 80 85 80
False

In [38]:
s = ''''Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.'''
print(s)

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

In [39]:
a = p[]

SyntaxError: invalid syntax (<ipython-input-39-80777fbc72ed>, line 1)

In [50]:
a = tuple(range(-10, 10, 3))
a

(-10, -7, -4, -1, 2, 5, 8)

In [43]:
type(a)

list

In [51]:
diff = int(input())
a = tuple(range(-10, 10, diff))
print(a)

5
(-10, -5, 0, 5)

In [54]:
(1, 2, 3) in (1, 2)

False

In [55]:
a = (11, 22, 33, 44, 55, 66, 77, 88, 99)

In [56]:
a[::4]

(11, 55, 99)

In [58]:
a[0:len(a):4]

(11, 55, 99)

In [61]:
a = [1, 2, 3]
a[1:2] = [8]

In [62]:
a

[1, 8, 3]

In [67]:
x = input().split()
del x[-5:]
print(tuple(x))

 oven bat pony total leak wreck curl crop space navy loss knee
('oven', 'bat', 'pony', 'total', 'leak', 'wreck', 'curl')

In [72]:
first = input()
second = input()
print(first[1::2] + second[::2])

apple
strawberry
plsrwer

In [73]:
x = dict({'a': 10, 'b': 20})

In [74]:
x

{'a': 10, 'b': 20}

In [75]:
x = {'a'=10, 'b'=20}

SyntaxError: invalid syntax (<ipython-input-75-a222206c8eb7>, line 1)

In [76]:
x = {10: 'Hello', 'world': 30}

In [77]:
print(x[10])

Hello

In [78]:
fruits = {'apple': 1500, 'pear': 3000, 'grape': 1400}
fruits['orange'] = 2000
print(fruits['apple'], fruits['orange'])

1500 2000

In [79]:
print(len({10:0, 20:1, 30:2, 40:3, 50:4, 60:7}))

6

In [82]:
keys = input().split()
values = map(float, input().split())
result = dict(zip(keys, values))
print(result)

health mana melee attack_speed magic_resistance
573.6 308.8 600 0.625 35.7
{'health': 573.6, 'mana': 308.8, 'melee': 600.0, 'attack_speed': 0.625, 'magic_resistance': 35.7}

In [88]:
price = int(input())
coupon = input()
coupons = {'Cash3000':-3000, 'Cash5000':-5000}
print(price + coupons[coupon])

72000
Cash5000
67000

In [89]:
if not '':
    print(True)
else:
    print(False)

True

In [132]:
x = 100 ; y = 200
print((x == 10) & (y == 20))
print(x == 10 or y == 20)
# print(x == 10 not y == 20)
print((x == 10) | (y == 20))
print(x and y)

False
False
False
200

In [131]:
print(x == 10 or y == 20)

False

In [133]:
5%2

1

In [134]:
x = 5
 
if x % 2 == 0:
    print('짝수')
else:
    print('홀수')

홀수

In [137]:
KOR, ENG, MAT, SCI = map(float, input().split())
if 0 <= KOR <= 100 and 0 <= ENG <= 100 and 0 <= MAT <= 100 and 0 <= SCI <= 100:
    avg = (KOR + ENG + MAT + SCI)/4
    if avg >= 80 :
        print('합격')
    else:
        print('불합격')
else :
    print('잘못된 점수')

111 110 92 70
잘못된 점수

In [138]:
x = 0
 
if x == 4:
    print('A')
elif x == 3:
    print('B')
elif x == 2:
    print('C')
elif x == 1:
    print('D')
else:
    print('E')

E

In [140]:
age = int(input())
balance = 9000    # 교통카드 잔액
if 7<= age <= 12 :
    balance = balance - 650
elif 13 <= age <= 18 :
    balance = balance - 1050
elif 19<= age : 
    balance = balance - 1250
print(balance)

17
7950

In [143]:
len(range(20, 40, 2))

10

In [150]:
count = int(input())
for i in range(count):
    print('i의 값은', end=' ')
    print(i)

6
i의 값은 0
i의 값은 1
i의 값은 2
i의 값은 3
i의 값은 4
i의 값은 5

In [151]:
for i in reversed('Python'):
    print(i, end='.')

n.o.h.t.y.P.

In [152]:
num = input()

for i in range(1,10):
    print( f'{num} * {i} = {int(num)*i}')

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [153]:
i = 10
 
while i < 19:
    print(i, end=' ')
    i += 2

10 12 14 16 18

In [155]:
i = 0
while i < 20:
    print('Hello, world!')
    i = i + 2

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

In [159]:
balance = int(input())

while balance >= 1350 :
    balance -= 1350
    print(balance)

10800
9450
8100
6750
5400
4050
2700
1350
0

0

In [169]:
start, stop = map(int, input().split())
 
i = start

while True:
    # 끝자리가 3이면 출력하지 않고 값을 증가시킨다
    if str(i)[-1] == '3' :
        i += 1
        continue
    # i <= stop인 동안 반복한다.
    if i > stop:
        break
    print(i, end=' ')
    i += 1

21 33
21 22 23 24 25 26 27 28 29 30 31 32 33

In [171]:
i = 33
str(i)[-1]

'3'

In [173]:
for i in range(5):
    for j in range(5):
        if  j<=i :
            print('*', end='')
    print()

*
**
***
****
*****

In [175]:
n = int(input())

for i in range(n):
    for j in range(2 * n - 1):
        if n-1 - i <= j <= n-1 + i:
            print('*', end = '')
        else :
            print(' ',end ='')
    print('')

3
  *
 ***
*****

In [177]:
height = 3
for i in range(height):
    for j in reversed(range(height)):
        if j > i:
            print(' ', end='')
        else:
            print('*', end='')
    for j in range(height):
        if j < i:
            print('*', end='')
    print()

  *
 ***
*****

In [179]:
6 % 6 == 0

True

In [186]:
first, second = map(int, input().split())
for i in range(first, second+1):
    if i % 5 == 0 :
        if i%7 ==0 :
            print('FizzBuzz')
            continue
        print('Fizz')
        continue
    elif i % 7 == 0:
        print('Buzz')
        continue
    print(i)

35 40
FizzBuzz
36
37
38
39
Fizz

In [188]:
`Hello, world!`

SyntaxError: invalid syntax (<ipython-input-188-105159929385>, line 1)

In [189]:
"""안녕하세요.
파이썬입니다."""

'안녕하세요.\n파이썬입니다.'

In [190]:
""Hello", Python"

SyntaxError: invalid syntax (<ipython-input-190-c472d5b40a56>, line 1)

In [191]:
"Hello, 'Python'"

"Hello, 'Python'"

In [192]:
""""Hello", Python"""

'"Hello", Python'

In [193]:
'Hello, \'Python\''

"Hello, 'Python'"

In [194]:
'Hello, 'Python''

SyntaxError: invalid syntax (<ipython-input-194-a07c3969509b>, line 1)